@media (max-width: 768px) {
    .seccion1{
      height: 100vh;
    }
    svg{
      
      position: absolute!important;
      top: 40%!important;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      height: auto!important;
        max-width: 350px;
      
    }
    .boton1{
      font-size: 1.8rem;
      padding: 0.7rem 1rem;
      font-weight: 600;
      margin-bottom: 30px;
    }


    .text-img{
      height: 100vw;
      background-image: url(/Imágenes/fondo2.png);
      background-repeat: no-repeat;
      background-size: cover;
      
      
    }

    .text-img img{
      object-fit: cover;
      margin: auto!important;
      height: 100%;
      width: 50%;  
    }

    .parrafo{
      margin: auto!important;
      padding: 0 15px 10px 15px;
      height: 100%!important;
      width: 50%;
      max-width: 75%;
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-top: none;
    }

    .barberos .contenedor {
      display: flex!important; 
      flex-direction: column; 
    }

    .barberos .div1,
    .barberos .div2 {
      width: 100%!important; 
      margin: 0 auto!important; 
    }

    .barberos .hrr {
      &.hrr2 {
          display: none!important; 
      }
    }
    .fotosbarber{
      gap: 10px;
      padding-bottom: 30px;
    }
  
    .fotosbarber img{
      width: 220px;
      height: 220px;
    }
    .fotosbarber p{
      padding-top: -20px;
    }

    .foot1 p{
      position: relative;
      right: 250px;
      text-align: justify;
      letter-spacing: 1px;
    }
    .redes img {
      width: 32px;
    }
  } 
